<div class="wrapper">
  <div class="navigation-wrapper">
    <h1>Navigationssystem</h1>

    <nav mat-tab-nav-bar backgroundColor="primary">
      <ng-container *ngFor="let link of links; let index = index">
        <a mat-tab-link [routerLink]="[link.route]" (click)="select(index)" routerLinkActive="active">
          {{ link.title}}
        </a>
      </ng-container>
    </nav>
  </div>

  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>

  <div class="button-wrapper">
    <button mat-stroked-button (click)="goBack()" [disabled]="!selectedLinkIndex" class="nav-button">
      Zurück
    </button>
    <button mat-stroked-button (click)="goForward()"
      [disabled]="!links.length || selectedLinkIndex === links.length - 1" class="nav-button">
      Vor
    </button>
  </div>
</div>